body {
  padding: 0;
  margin: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

::-webkit-progress-bar {
  color: #534666;
  background-color: #534666;
}

@media only screen and (max-width: 900px) {
  body nav aside {
    font-size: 0.8em;
  }
  body main #About article .contactdetails li {
    padding: 0;
    font-size: 12px;
  }
  body main #About article .contactdetails li a {
    display: none;
  }
  body main #About article h1 .Resume {
    display: none;
  }
  body main #About article p {
    font-size: 0.8em;
  }
  body main #About article .attach {
    padding: 5px;
  }
  body main #About article .attach1 {
    padding: 5px;
  }
  body main #About article .attach2 {
    padding: 5px;
    display: none;
  }
  body main #Skills .heading {
    font-size: 1.2em;
  }
  body main #Skills .duration {
    font-size: small;
  }
  body main #Work h1 {
    font-size: 1.2em;
  }
}
@media only screen and (max-width: 400px) {
  body {
    overflow-x: hidden;
  }
  body nav aside {
    font-size: 0.2em;
  }
  body main #About article .contactdetails li {
    padding: 0;
    font-size: 12px;
  }
  body main #About article .contactdetails li a {
    display: none;
  }
  body main #About article h1 {
    font-size: 0.2em;
  }
  body main #About article h1 .Resume {
    display: none;
  }
  body main #About article p {
    font-size: 0.2em;
  }
  body main #About article .attach {
    padding: 5px;
  }
  body main #About article .attach1 {
    padding: 5px;
  }
  body main #About article .attach2 {
    padding: 5px;
    display: none;
  }
  body main #Skills .heading {
    font-size: 0.5em;
  }
  body main #Skills .duration {
    font-size: small;
  }
  body main .details p {
    font-size: 0.6em;
  }
  body main .details .name h2 {
    font-size: 0.2em;
  }
  body main .details h4 {
    font-size: 0.6em;
  }
  body main #Work h1 {
    font-size: 1.2em;
  }
  body .WorkSkill {
    font-size: 0.2em;
    font-weight: bold;
    width: 80%;
  }
  body .WorkSkill div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #534666;
    color: white;
    border: 0px;
    padding: 10px;
    font-size: 0.8em;
    text-wrap: nowrap;
    margin: 1px;
  }
  body .WorkSkill div a {
    color: white;
    text-decoration: none;
  }
}
nav {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  font-size: 1.2em;
  background-color: #534666;
  color: white;
}
nav aside ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 0;
}
nav aside ul li {
  padding: 0;
  margin: 10px;
}
nav aside ul li a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

main {
  background-color: rgb(210, 210, 210);
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  align-content: space-evenly;
  flex-direction: column;
}
main #About {
  background-color: white;
  width: 70%;
  min-width: 300px;
  padding: 10px;
}
main #About article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
}
main #About article h4 {
  color: #534666;
}
main #About article .contactdetails {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  padding: 10px;
}
main #About article .contactdetails ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
main #About article .contactdetails ul li {
  background-color: #534666;
  border-radius: 20px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
}
main #About article .contactdetails ul li a {
  margin: 2px;
  color: white;
  text-decoration: none;
  font-size: small;
  margin-left: 10px;
}
main #About article .contactdetails ul li a:hover {
  cursor: default;
}
main #About article .attach {
  position: absolute;
  left: 13%;
  top: 25%;
  border-radius: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  padding: 10px;
  background-color: #534666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main #About article .attach:hover {
  transform: scale(1.2);
}
main #About article .attach1 {
  position: absolute;
  left: 10%;
  top: 45%;
  border-radius: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  padding: 10px;
  background-color: #534666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main #About article .attach1:hover {
  transform: scale(1.2);
}
main #About article .attach2 {
  position: absolute;
  left: 13%;
  top: 65%;
  border-radius: 120px;
  -webkit-clip-path: circle();
          clip-path: circle();
  padding: 5px;
  background-color: #534666;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}
main #About article .attach2:hover {
  transform: scale(1.2);
}
main #About article .pic {
  display: flex;
  justify-content: center;
  align-items: center;
  width: -moz-fit-content;
  width: fit-content;
  position: relative;
}
main #About article aside {
  padding: 10px;
  width: 100%;
  position: relative;
}
main #About article aside .typing {
  display: inline-block;
  max-width: 800px;
  padding: 0;
}
main #About article aside .typing p {
  margin: 0;
  padding: 0;
}
main #About article aside .typing .text {
  overflow: hidden;
  font-size: 0.5em;
  border-right: 0.15em solid #534666;
  white-space: nowrap;
  animation: type 4s steps(40, end);
}
@keyframes type {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}
main #About article aside img {
  height: 100%;
  width: 100%;
  -webkit-clip-path: circle();
          clip-path: circle();
  max-height: 80%;
  max-width: 80%;
}
main #About article aside h1 {
  margin: 0;
  margin-bottom: 5px;
  font-size: 2em;
  padding: 0;
  position: relative;
}
main #About article aside h1 div {
  position: absolute;
  left: 23%;
  top: 15%;
  bottom: 0;
  background-color: #534666;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-clip-path: circle();
          clip-path: circle();
}
main #About article aside h1 div:hover {
  transform: scale(0.8);
}
main #About article aside h1 div:active {
  outline: auto;
}
main #About article aside h1 div a {
  text-decoration: none;
  color: white;
  font-size: 14px;
  padding: 10px;
}
main #About article aside h4 {
  margin: 0;
}
main #About article aside hr {
  color: black;
}
main #Skills {
  padding: 10px;
  background-color: white;
  width: 70%;
  min-width: 300px;
}
main #Skills article {
  display: flex;
  flex-direction: row;
}
main #Skills article #skill {
  width: -moz-fit-content;
  width: fit-content;
  padding: 20px;
  max-height: 500px;
}
main #Skills article aside {
  padding: 10px;
  width: 100%;
}
@media only screen and (max-width: 900px) {
  main #Skills article aside .name {
    font-size: 10px;
  }
}
main #Skills article aside .details {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
}
main #Skills article aside .details .name {
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
}
main #Skills article aside .details .name h2 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
main #Skills article aside .details .name h4 {
  margin: 0;
  color: #6c5c84;
}
main #Skills article aside .details .duration {
  width: -moz-fit-content;
  width: fit-content;
  border: 0;
  text-wrap: nowrap;
}
main #Skills article aside h1 {
  font-size: 2em;
  text-align: center;
  margin: 0;
  margin-bottom: 10px;
  text-wrap: nowrap;
}
main #Skills article aside ul {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
  margin: 0;
}
main #Skills article aside ul progress {
  width: 100%;
  height: 5px;
}
main #Skills article aside ul li {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 5px;
  position: relative;
}
main #Skills article aside ul li div {
  position: absolute;
  top: 2px;
  left: -20px;
  height: 12px;
  width: 10px;
  background-color: #534666;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 8px;
  padding: 2px;
  -webkit-clip-path: circle();
          clip-path: circle();
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
main #Skills article aside ul li div:hover {
  cursor: pointer;
  filter: brightness(50%);
}

#Work {
  background-color: white;
  padding: 10px;
  width: 70%;
}
#Work h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 2em;
}
#Work article {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
}
#Work article ::-webkit-scrollbar {
  display: none;
}
#Work article .WorkSkill {
  display: flex;
  justify-content: space-evenly;
  overflow-x: scroll;
  align-items: center;
  flex-direction: row;
  width: 100%;
  padding-bottom: 10px;
}
#Work article .WorkSkill div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: -moz-fit-content;
  height: fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #534666;
  color: white;
  border: 0px;
  padding: 10px;
  font-size: 0.6em;
  text-wrap: nowrap;
}
#Work article .WorkSkill div a {
  color: white;
  text-decoration: none;
}
#Work article .WorkSkill div:hover {
  cursor: pointer;
  filter: brightness(70%);
}

@media only screen and (max-width: 900px) {
  .WorkSkill {
    font-size: 0.5em;
    font-weight: bold;
    width: 80%;
  }
  .WorkSkill div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #534666;
    color: white;
    border: 0px;
    padding: 10px;
    font-size: 0.8em;
    text-wrap: nowrap;
    margin: 1px;
  }
  .WorkSkill div a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }
  body nav aside {
    font-size: 0.2em;
  }
  body main #About article .contactdetails li {
    padding: 0;
    font-size: 12px;
  }
  body main #About article .contactdetails li a {
    display: none;
  }
  body main #About article h1 {
    font-size: 0.6em;
  }
  body main #About article h1 .Resume {
    display: none;
  }
  body main #About article p {
    font-size: 0.2em;
  }
  body main #About article .attach {
    padding: 5px;
  }
  body main #About article .attach1 {
    padding: 5px;
  }
  body main #About article .attach2 {
    padding: 5px;
    display: none;
  }
  body main #About article .attach {
    position: absolute;
    left: 15%;
    top: 100%;
    border-radius: 120px;
    -webkit-clip-path: circle();
            clip-path: circle();
    padding: 10px;
    background-color: #534666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
  }
  body main #About article .attach:hover {
    transform: scale(1.2);
  }
  body main #About article .attach1 {
    position: absolute;
    left: 50%;
    top: 100%;
    border-radius: 120px;
    -webkit-clip-path: circle();
            clip-path: circle();
    padding: 10px;
    background-color: #534666;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 1em;
  }
  body main #About article .attach1:hover {
    transform: scale(1.2);
  }
  body main #About .contactdetails ul li {
    font-size: 10px;
    padding: 5px;
  }
  body main #Skills li {
    font-size: 0.2em;
  }
  body main #Skills .heading {
    font-size: 0.5em;
  }
  body main #Skills .duration {
    font-size: small;
  }
  body main .details .name h2 {
    font-size: 0.2em;
  }
  body main .details h4 {
    font-size: 0.8em;
  }
  body main #Work {
    width: 70%;
  }
  body main #Work h1 {
    font-size: 0.6em;
  }
  body .WorkSkill {
    font-size: 0.2em;
    font-weight: bold;
  }
  body .WorkSkill div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #534666;
    color: white;
    border: 0px;
    padding: 10px;
    font-size: 0.8em;
    text-wrap: nowrap;
    margin: 1px;
  }
  body .WorkSkill div a {
    color: white;
    text-decoration: none;
  }
}
@media only screen and (max-width: 350px) {
  body {
    overflow-x: hidden;
  }
  body nav aside {
    font-size: 0.2em;
  }
  body main #About article .contactdetails li {
    padding: 0;
    font-size: 12px;
  }
  body main #About article .contactdetails li a {
    display: none;
  }
  body main #About article .contactdetails ul li {
    font-size: 10px;
    padding: 5px;
  }
  body main #About article h1 {
    font-size: 0.6em;
  }
  body main #About article h1 .Resume {
    display: none;
  }
  body main #About article p {
    font-size: 0.2em;
  }
  body main #About article .attach {
    padding: 5px;
  }
  body main #About article .attach1 {
    padding: 5px;
  }
  body main #About article .attach2 {
    padding: 5px;
    display: none;
  }
  body main #Skills li {
    font-size: 0.2em;
  }
  body main #Skills .heading {
    font-size: 0.5em;
  }
  body main #Skills .duration {
    font-size: small;
  }
  body main .details p {
    font-size: 0.6em;
  }
  body main .details .name h2 {
    font-size: 0.2em;
  }
  body main .details h4 {
    font-size: 0.8em;
  }
  body main #Work {
    width: 100%;
    border: 1px solid black;
  }
  body main #Work h1 {
    font-size: 0.6em;
  }
  body .WorkSkill {
    font-size: 0.2em;
    font-weight: bold;
  }
  body .WorkSkill div {
    display: flex;
    justify-content: center;
    align-items: center;
    height: -moz-fit-content;
    height: fit-content;
    width: -moz-fit-content;
    width: fit-content;
    background-color: #534666;
    color: white;
    border: 0px;
    font-size: 0.8em;
    text-wrap: nowrap;
    margin: 1px;
  }
  body .WorkSkill div a {
    color: white;
    text-decoration: none;
  }
}/*# sourceMappingURL=styles.css.map */
